@media screen and (max-width: 991px){

    /* Custom css */
    section{
        padding: 30px 0;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }

    .header-sccolled{
        height: auto;
    }

    .header_wrapper .navbar-nav{
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
    }

    .header_wrapper .nav-item .nav-link{
        margin-top: 15px;
    }

    /* Baner wrappeer */

    .banner_wrapper{
        padding: 200px 0;
    }


    /* about */

    .about_wrapper ul.nav-pills{
        width: 60%;
        margin: auto;
    }

    /* Portfolio */

    .portfolio_wrapper .card{
        min-height: 400px;
    }
}
    

@media screen and (max-width: 767px){
    h1{
        font-size: 40px;
        line-height: 40px;
    }
    h2{
        font-size: 25px;
    }

    P{
        font-size: 13px;
        line-height: 24px;
    }

    /* ABOUT */
    .about_wrapper ul.nav-pills{
        width: 100%;
        margin: auto;
        border: none;
    }

    .about_wrapper ul li .nav-link{
       font-size: 13px;
    }
    /* Portfolio */

    .portfolio_wrapper .card{
        min-height: 400px;
    }
}
